.card {
    flex: 1 1 clamp(250px, 30%, 370px);
    background: #ffffff;
    box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    overflow: hidden;

    .img-block {
        width: 100%;
        height: 70%;
        overflow: hidden;

        .img {
            width: 100%;
            transition: 500ms;
            overflow: hidden;
        }
    }

    &:hover img {
        transform: scale(1.15);
        overflow: hidden;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 12px;
        padding: 16px 0;
        position: relative;
        z-index: 10;

        @include md {
            padding: 10px 0;
            gap: 8px;
        }

        .title {
            font-weight: 500;
            font-size: rem(24);
            line-height: 165%;
            color: $cl_black;
            text-align: center;
            word-break: break-all;


            @include md {
                font-size: rem(20);
            }
        }

        .price {
            font-weight: 600;
            font-size: rem(20);
            line-height: 165%;
            color: $cl_yellow;

            @include md {
                font-size: rem(15);
            }
        }
    }


}